/.venv/
backend/__pycache__/__init__.cpython-312.pyc
backend/core/__pycache__/__init__.cpython-312.pyc
backend/core/primitives/__pycache__/__init__.cpython-312.pyc
backend/core/primitives/__pycache__/DataType.cpython-312.pyc
backend/core/primitives/__pycache__/Plugin.cpython-312.pyc
backend/core/__pycache__/__init__.cpython-313.pyc
backend/core/primitives/__pycache__/__init__.cpython-313.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
backend/core/primitives/__pycache__/Value.cpython-313.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
backend/tests/__pycache__/test_value.cpython-313-pytest-8.3.4.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
backend/__pycache__/__init__.cpython-313.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
backend/core/primitives/__pycache__/DataType.cpython-313.pyc
